openapi: 3.1.0
info:
  title: PlantMama Store API
  description: |
    REST API for PlantMama flower shop mobile application.

    ## Key Features
    - JWT Bearer token authentication
    - Multi-region support via X-Region-Code header
    - Comprehensive product catalog with filtering
    - Order management with multiple payment/delivery methods
    - Collection support for curated bouquets
    - Inventory tracking with stock status

    ## Authentication
    All protected endpoints require an Authorization header with a Bearer token:
    ```
    Authorization: Bearer {access_token}
    ```

    ## Region Support
    All product-related endpoints support region-specific data via the X-Region-Code header:
    ```
    X-Region-Code: TM
    ```

    If not provided, the API uses the default region context.

    ## Base URL
    ```
    https://api.plantmama.com/api/v1
    ```

    ## Rate Limiting
    Rate limits are per user and reset every hour:
    - 1000 requests/hour for authenticated users
    - 100 requests/hour for unauthenticated users

    ## Error Handling
    All errors follow a standard format with HTTP status codes and descriptive error messages.

  version: 1.0.0
  contact:
    name: PlantMama Support
    email: support@plantmama.com
  license:
    name: Proprietary

servers:
  - url: https://api.plantmama.com/api/v1
    description: Production API
  - url: http://localhost:8000/api/v1
    description: Development API (local)

paths:
  # Authentication Endpoints
  /auth/register:
    post:
      tags:
        - Authentication
      summary: Register new customer account
      description: |
        Creates a new user account and associated customer profile.
        Returns access and refresh tokens for immediate login.

        **Note:** Newly registered users can immediately start shopping.
        Phone number verification happens asynchronously.
      operationId: registerUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
            examples:
              success:
                summary: Valid registration
                value:
                  email: customer@example.com
                  password: SecurePass123!
                  full_name: John Doe
                  phone: "+1234567890"
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
              examples:
                success:
                  summary: Registration successful
                  value:
                    access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                    refresh_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                    token_type: bearer
                    user_id: 1
                    email: customer@example.com
                    full_name: John Doe
                    role: customer
        '400':
          description: Invalid input or email already registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                emailExists:
                  summary: Email already registered
                  value:
                    success: false
                    error:
                      code: EMAIL_ALREADY_EXISTS
                      message: Email already registered
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'

  /auth/login:
    post:
      tags:
        - Authentication
      summary: Login with email and password
      description: |
        Authenticate user and obtain access/refresh tokens.

        **Token Expiration:**
        - Access token: 1 hour
        - Refresh token: 30 days
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            examples:
              success:
                summary: Valid login
                value:
                  email: customer@example.com
                  password: SecurePass123!
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error

  /auth/refresh:
    post:
      tags:
        - Authentication
      summary: Refresh access token
      description: |
        Use a valid refresh token to obtain a new access token.
        Useful when your access token expires.
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshTokenResponse'
        '401':
          description: Invalid or expired refresh token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/change-password:
    post:
      tags:
        - Authentication
      summary: Change user password
      description: Update the current user's password
      operationId: changePassword
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
      responses:
        '200':
          description: Password changed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '401':
          description: Invalid current password
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error

  /auth/logout:
    post:
      tags:
        - Authentication
      summary: Logout user
      description: |
        Invalidate the current user session.
        Clear tokens on the client side after receiving this response.
      operationId: logoutUser
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Logged out successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # Products Endpoints
  /products:
    get:
      tags:
        - Products
      summary: List products with filtering and pagination
      description: |
        Retrieve paginated list of products with advanced filtering options.

        **Features:**
        - Full-text search across name and description
        - Filter by section, category, active status
        - Price range filtering
        - Stock status filtering
        - Sorting support

        **Pagination:**
        - Default: 20 items per page
        - Maximum: 100 items per page
      operationId: listProducts
      parameters:
        - name: skip
          in: query
          description: Number of items to skip (for pagination)
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: limit
          in: query
          description: Number of items to return per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: search
          in: query
          description: Search term for product name/description
          schema:
            type: string
          examples:
            example1:
              value: "rose"
              description: Search for roses
        - name: section_id
          in: query
          description: Filter by product section ID
          schema:
            type: integer
          examples:
            example1:
              value: 1
              description: Get products from section 1
        - name: category_id
          in: query
          description: Filter by product category ID
          schema:
            type: integer
        - name: is_featured
          in: query
          description: Filter featured products only
          schema:
            type: boolean
        - name: in_stock
          in: query
          description: Filter only products in stock
          schema:
            type: boolean
        - name: min_price
          in: query
          description: Minimum product price
          schema:
            type: number
            format: decimal
        - name: max_price
          in: query
          description: Maximum product price
          schema:
            type: number
            format: decimal
        - name: X-Region-Code
          in: header
          description: Region code for region-specific data (e.g., TM, AE)
          schema:
            type: string
            default: TM
      responses:
        '200':
          description: Products retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedProductResponse'
        '400':
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /products/{product_id}:
    get:
      tags:
        - Products
      summary: Get product details
      description: |
        Retrieve detailed information about a specific product including:
        - Product metadata (name, description, pricing)
        - Images and media
        - Inventory and stock status
        - Category and section information
      operationId: getProduct
      parameters:
        - name: product_id
          in: path
          required: true
          description: Product ID
          schema:
            type: integer
            example: 1
        - name: X-Region-Code
          in: header
          description: Region code for region-specific data
          schema:
            type: string
            default: TM
      responses:
        '200':
          description: Product details retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse_ProductResponse'
              examples:
                success:
                  value:
                    success: true
                    data:
                      id: 1
                      sku: ROSE-001
                      name: Red Rose Bouquet
                      slug: red-rose-bouquet
                      description: A beautiful arrangement of 12 red roses
                      short_description: 12 premium red roses
                      section_id: 1
                      price: "2500.00"
                      compare_at_price: "3000.00"
                      category_id: 5
                      is_active: true
                      is_featured: true
                      images:
                        - id: 1
                          image_url: https://images.plantmama.com/rose-1.jpg
                          alt_text: Red rose bouquet
                          is_primary: true
                          display_order: 0
                      inventory:
                        id: 1
                        quantity: 100
                        reserved_quantity: 45
                        available_quantity: 55
                        low_stock_threshold: 10
                        is_low_stock: false
                        is_out_of_stock: false
                      created_at: "2024-01-01T00:00:00Z"
                      updated_at: "2024-01-05T10:30:00Z"
        '404':
          description: Product not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /products/{product_id}/images:
    get:
      tags:
        - Products
      summary: Get product images
      description: Retrieve all images for a specific product
      operationId: getProductImages
      parameters:
        - name: product_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Product images retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductImage'
        '404':
          description: Product not found

  # Categories & Sections
  /products/categories:
    get:
      tags:
        - Categories
      summary: List product categories
      description: |
        Get all product categories with optional filtering.
        Categories can be hierarchical (with parent categories).
      operationId: listCategories
      parameters:
        - name: skip
          in: query
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: section_id
          in: query
          description: Filter by section ID
          schema:
            type: integer
        - name: parent_id
          in: query
          description: Filter by parent category ID (for subcategories)
          schema:
            type: integer
        - name: is_active
          in: query
          schema:
            type: boolean
        - name: X-Region-Code
          in: header
          schema:
            type: string
            default: TM
      responses:
        '200':
          description: Categories retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCategoryResponse'

  /products/categories/{category_id}:
    get:
      tags:
        - Categories
      summary: Get category details
      description: Retrieve details of a specific category
      operationId: getCategory
      parameters:
        - name: category_id
          in: path
          required: true
          schema:
            type: integer
        - name: X-Region-Code
          in: header
          schema:
            type: string
            default: TM
      responses:
        '200':
          description: Category details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse_ProductCategory'
        '404':
          description: Category not found

  /product-sections:
    get:
      tags:
        - Sections
      summary: List product sections
      description: |
        Get all product sections (top-level categories).
        Examples: Flowers, Plants, Gifts, etc.
      operationId: listSections
      parameters:
        - name: skip
          in: query
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: is_active
          in: query
          schema:
            type: boolean
        - name: X-Region-Code
          in: header
          schema:
            type: string
            default: TM
      responses:
        '200':
          description: Sections retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSectionResponse'

  /product-sections/{section_id}:
    get:
      tags:
        - Sections
      summary: Get section details
      description: Retrieve details of a specific section
      operationId: getSection
      parameters:
        - name: section_id
          in: path
          required: true
          schema:
            type: integer
        - name: X-Region-Code
          in: header
          schema:
            type: string
            default: TM
      responses:
        '200':
          description: Section details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse_ProductSection'
        '404':
          description: Section not found

  # Collections Endpoints
  /collections:
    get:
      tags:
        - Collections
      summary: List collections
      description: |
        Get curated collections (bouquets, gift sets, themed arrangements).

        **Collections** are ready-made arrangements of multiple products
        bundled together at a special price.
      operationId: listCollections
      parameters:
        - name: skip
          in: query
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: search
          in: query
          description: Search collection name
          schema:
            type: string
        - name: section_id
          in: query
          schema:
            type: integer
        - name: is_featured
          in: query
          schema:
            type: boolean
        - name: in_stock
          in: query
          schema:
            type: boolean
        - name: min_price
          in: query
          schema:
            type: number
            format: decimal
        - name: max_price
          in: query
          schema:
            type: number
            format: decimal
        - name: X-Region-Code
          in: header
          schema:
            type: string
            default: TM
      responses:
        '200':
          description: Collections retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCollectionResponse'

  /collections/{collection_id}:
    get:
      tags:
        - Collections
      summary: Get collection details
      description: |
        Retrieve detailed information about a specific collection including:
        - Items in the collection with quantities
        - Total collection price vs component prices
        - Discount savings information
      operationId: getCollection
      parameters:
        - name: collection_id
          in: path
          required: true
          schema:
            type: integer
        - name: X-Region-Code
          in: header
          schema:
            type: string
            default: TM
      responses:
        '200':
          description: Collection details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse_Collection'
        '404':
          description: Collection not found

  # Cart Endpoints
  /cart/validate:
    post:
      tags:
        - Cart
      summary: Validate cart items and get pricing
      description: |
        Validate all items in cart, check availability, and calculate totals.

        **Returns:**
        - Item availability status
        - Current prices for each item
        - Inventory status
        - Estimated delivery fee (if applicable)
      operationId: validateCart
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                items:
                  type: array
                  items:
                    $ref: '#/components/schemas/CartItem'
                delivery_method:
                  type: string
                  enum: [delivery, pickup]
                region_code:
                  type: string
                  description: Target region for delivery
              required:
                - items
      responses:
        '200':
          description: Cart validation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse_CartValidation'
        '400':
          description: Validation failed - items unavailable or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /cart/check-availability/{product_id}:
    get:
      tags:
        - Cart
      summary: Check product availability and stock
      description: |
        Quick endpoint to check if a product is available and current stock level.
      operationId: checkProductAvailability
      security:
        - BearerAuth: []
      parameters:
        - name: product_id
          in: path
          required: true
          schema:
            type: integer
        - name: quantity
          in: query
          description: Quantity to check availability for
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Stock status
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      product_id:
                        type: integer
                      available:
                        type: boolean
                      available_quantity:
                        type: integer
                      requested_quantity:
                        type: integer
                      can_fulfill:
                        type: boolean
                      message:
                        type: string

  /cart/delivery-fee:
    get:
      tags:
        - Cart
      summary: Calculate delivery fee
      description: |
        Calculate estimated delivery fee based on:
        - Delivery address
        - Cart subtotal
        - Region/zone
      operationId: calculateDeliveryFee
      security:
        - BearerAuth: []
      parameters:
        - name: subtotal
          in: query
          description: Cart subtotal in decimal format
          schema:
            type: number
            format: decimal
        - name: region_code
          in: query
          description: Delivery region code
          schema:
            type: string
        - name: postal_code
          in: query
          description: Delivery postal code (optional, for precise calculation)
          schema:
            type: string
      responses:
        '200':
          description: Delivery fee calculated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      delivery_fee:
                        type: number
                        format: decimal
                      free_delivery_threshold:
                        type: number
                        format: decimal
                      is_free_delivery:
                        type: boolean

  # Orders Endpoints
  /orders:
    get:
      tags:
        - Orders
      summary: Get user's orders
      description: |
        Retrieve paginated list of orders for the authenticated user.

        **Includes:**
        - Order summary with totals
        - Order status and payment status
        - Delivery information
      operationId: listUserOrders
      security:
        - BearerAuth: []
      parameters:
        - name: skip
          in: query
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: status
          in: query
          description: Filter by order status
          schema:
            type: string
            enum:
              - pending
              - payment_confirmed
              - processing
              - ready_for_delivery
              - out_for_delivery
              - delivered
              - cancelled
              - refunded
        - name: payment_method
          in: query
          schema:
            type: string
            enum: [card, cash, bank_transfer]
        - name: delivery_method
          in: query
          schema:
            type: string
            enum: [delivery, pickup]
      responses:
        '200':
          description: Orders retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOrderResponse'
        '401':
          description: Unauthorized

    post:
      tags:
        - Orders
      summary: Create new order
      description: |
        Place a new order with items and delivery details.

        **Order Workflow:**
        1. Create order with items and delivery address
        2. System validates stock and pricing
        3. Order placed with PENDING status
        4. Process payment based on payment_method
        5. Order transitions to PAYMENT_CONFIRMED

        **Payment Methods:**
        - `card` - Credit/debit card (requires payment processing)
        - `cash` - Cash on delivery
        - `bank_transfer` - Bank transfer (manual verification)
      operationId: createOrder
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCreate'
            examples:
              cashOnDelivery:
                summary: Cash on delivery order
                value:
                  payment_method: cash
                  delivery_method: delivery
                  delivery_date: "2024-01-15T10:00:00Z"
                  delivery_time_slot: "10:00-12:00"
                  delivery_address_id: 1
                  items:
                    - product_id: 1
                      quantity: 2
                    - collection_id: 5
                      quantity: 1
                  customer_notes: Please ring bell twice
                  discount_amount: 100
      responses:
        '201':
          description: Order created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse_Order'
              examples:
                success:
                  value:
                    success: true
                    data:
                      id: 42
                      order_number: ORD-2024-001234
                      customer_id: 1
                      status: pending
                      payment_method: cash
                      payment_status: pending
                      delivery_method: delivery
                      subtotal: "7500.00"
                      delivery_fee: "300.00"
                      discount_amount: "100.00"
                      total: "7700.00"
                      created_at: "2024-01-05T10:30:00Z"
        '400':
          description: |
            Order creation failed. Common reasons:
            - Items out of stock
            - Invalid delivery address
            - Delivery date in the past
            - Invalid payment method for region
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized

  /orders/{order_id}:
    get:
      tags:
        - Orders
      summary: Get order details
      description: |
        Retrieve complete details of a specific order including:
        - Order items with unit prices
        - Delivery address
        - Payment and shipping status
        - Order timeline
      operationId: getOrder
      security:
        - BearerAuth: []
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Order details retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse_Order'
        '404':
          description: Order not found
        '403':
          description: |
            You don't have permission to view this order
            (trying to access another user's order)

  /orders/{order_id}/cancel:
    post:
      tags:
        - Orders
      summary: Cancel an order
      description: |
        Cancel an order if it hasn't been shipped yet.

        **Cancellation Policy:**
        - Can cancel if status is `pending` or `payment_confirmed`
        - Cannot cancel if already in `processing` or later status
        - Refunds processed within 5-7 business days
      operationId: cancelOrder
      security:
        - BearerAuth: []
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Reason for cancellation
      responses:
        '200':
          description: Order cancelled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '400':
          description: Order cannot be cancelled at this status
        '404':
          description: Order not found

  # User Profile Endpoints
  /users/me:
    get:
      tags:
        - User Profile
      summary: Get current user profile
      description: Retrieve the authenticated user's profile information
      operationId: getCurrentUser
      security:
        - BearerAuth: []
      responses:
        '200':
          description: User profile retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse_User'
        '401':
          description: Unauthorized

    patch:
      tags:
        - User Profile
      summary: Update user profile
      description: |
        Update user profile information.

        **Updatable fields:**
        - full_name
        - phone
        - (Other fields via specific endpoints)
      operationId: updateUserProfile
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                full_name:
                  type: string
                  minLength: 1
                  maxLength: 255
                phone:
                  type: string
                  minLength: 1
                  maxLength: 20
      responses:
        '200':
          description: Profile updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse_User'
        '401':
          description: Unauthorized
        '422':
          description: Validation error

  /users/me/addresses:
    get:
      tags:
        - User Profile
      summary: Get user's addresses
      description: Retrieve all saved delivery addresses for the user
      operationId: getUserAddresses
      security:
        - BearerAuth: []
      parameters:
        - name: skip
          in: query
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: Addresses retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Address'

    post:
      tags:
        - User Profile
      summary: Add new delivery address
      description: Save a new delivery address for the user
      operationId: addUserAddress
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressCreate'
      responses:
        '201':
          description: Address created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Address'
        '422':
          description: Validation error

  /users/me/addresses/{address_id}:
    patch:
      tags:
        - User Profile
      summary: Update delivery address
      operationId: updateUserAddress
      security:
        - BearerAuth: []
      parameters:
        - name: address_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                full_name:
                  type: string
                phone:
                  type: string
                address_line1:
                  type: string
                city:
                  type: string
                postal_code:
                  type: string
                is_default:
                  type: boolean
      responses:
        '200':
          description: Address updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Address'

    delete:
      tags:
        - User Profile
      summary: Delete delivery address
      operationId: deleteUserAddress
      security:
        - BearerAuth: []
      parameters:
        - name: address_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Address deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '404':
          description: Address not found

  # Regions Endpoint
  /regions:
    get:
      tags:
        - Regions
      summary: List all available regions
      description: |
        Get all regions where PlantMama operates.

        Use the region code in the `X-Region-Code` header for region-specific requests.
      operationId: listRegions
      parameters:
        - name: skip
          in: query
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: is_active
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Regions retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Region'

  /regions/current:
    get:
      tags:
        - Regions
      summary: Get current region
      description: |
        Get the current region based on the X-Region-Code header.
        If no header is provided, returns the default region.
      operationId: getCurrentRegion
      parameters:
        - name: X-Region-Code
          in: header
          schema:
            type: string
            default: TM
      responses:
        '200':
          description: Current region retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Region'

  # Search Endpoint
  /search:
    get:
      tags:
        - Search
      summary: Global search
      description: |
        Search across products, collections, and categories.

        Returns results grouped by type with ranking.
      operationId: globalSearch
      parameters:
        - name: q
          in: query
          required: true
          description: Search query
          schema:
            type: string
            minLength: 2
        - name: type
          in: query
          description: Filter by result type
          schema:
            type: string
            enum: [products, collections, categories, all]
            default: all
        - name: limit
          in: query
          description: Number of results per type
          schema:
            type: integer
            default: 10
        - name: X-Region-Code
          in: header
          schema:
            type: string
            default: TM
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      products:
                        type: array
                        items:
                          $ref: '#/components/schemas/ProductListItem'
                      collections:
                        type: array
                        items:
                          type: object
                      categories:
                        type: array
                        items:
                          type: object
        '400':
          description: Invalid search query

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT Bearer token obtained from `/auth/login` or `/auth/register`

        **Usage:**
        ```
        Authorization: Bearer {access_token}
        ```

        **Token Expiration:**
        - Access tokens expire after 1 hour
        - Use refresh token to obtain new access token
        - Refresh tokens expire after 30 days

  schemas:
    # Authentication Schemas
    RegisterRequest:
      type: object
      required:
        - email
        - password
        - full_name
        - phone
      properties:
        email:
          type: string
          format: email
          example: customer@example.com
          description: User email address (must be unique)
        password:
          type: string
          format: password
          minLength: 8
          maxLength: 100
          example: SecurePass123!
          description: Password (min 8 characters, must contain uppercase, lowercase, numbers)
        full_name:
          type: string
          minLength: 1
          maxLength: 255
          example: John Doe
        phone:
          type: string
          minLength: 1
          maxLength: 20
          example: "+1234567890"

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          example: customer@example.com
        password:
          type: string
          format: password
          example: SecurePass123!

    LoginResponse:
      type: object
      properties:
        access_token:
          type: string
          description: JWT access token for API requests
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxIiwiaWF0IjoxNTkzNTQwMDAwfQ...
        refresh_token:
          type: string
          description: JWT refresh token for obtaining new access tokens
        token_type:
          type: string
          enum: [bearer]
          default: bearer
        user_id:
          type: integer
          example: 1
        email:
          type: string
          format: email
          example: customer@example.com
        full_name:
          type: string
          example: John Doe
        role:
          type: string
          enum: [customer, staff, admin]
          default: customer

    RefreshTokenRequest:
      type: object
      required:
        - refresh_token
      properties:
        refresh_token:
          type: string
          description: Previously obtained refresh token

    RefreshTokenResponse:
      type: object
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        token_type:
          type: string
          enum: [bearer]

    ChangePasswordRequest:
      type: object
      required:
        - current_password
        - new_password
      properties:
        current_password:
          type: string
          format: password
        new_password:
          type: string
          format: password
          minLength: 8
          maxLength: 100

    # Product Schemas
    ProductResponse:
      type: object
      properties:
        id:
          type: integer
          example: 1
        sku:
          type: string
          example: ROSE-001
          description: Stock keeping unit - unique product identifier
        name:
          type: string
          example: Red Rose Bouquet
        slug:
          type: string
          example: red-rose-bouquet
          description: URL-friendly product name
        description:
          type: string
          nullable: true
        short_description:
          type: string
          nullable: true
          example: "12 premium red roses"
        section_id:
          type: integer
          example: 1
        price:
          type: string
          format: decimal
          example: "2500.00"
        compare_at_price:
          type: string
          format: decimal
          nullable: true
          example: "3000.00"
          description: Original/strikethrough price
        category_id:
          type: integer
          nullable: true
        is_active:
          type: boolean
          default: true
        is_featured:
          type: boolean
        images:
          type: array
          items:
            $ref: '#/components/schemas/ProductImage'
        inventory:
          $ref: '#/components/schemas/Inventory'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ProductImage:
      type: object
      properties:
        id:
          type: integer
        image_url:
          type: string
          format: uri
        alt_text:
          type: string
          nullable: true
        is_primary:
          type: boolean
        display_order:
          type: integer

    ProductListItem:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        slug:
          type: string
        price:
          type: string
          format: decimal
        compare_at_price:
          type: string
          format: decimal
          nullable: true
        primary_image:
          type: string
          format: uri
          nullable: true
        available_quantity:
          type: integer

    Inventory:
      type: object
      properties:
        id:
          type: integer
        quantity:
          type: integer
          description: Total quantity in stock
        reserved_quantity:
          type: integer
          description: Quantity reserved for pending orders
        available_quantity:
          type: integer
          description: Quantity available for purchase (quantity - reserved_quantity)
        low_stock_threshold:
          type: integer
        is_low_stock:
          type: boolean
        is_out_of_stock:
          type: boolean
        track_inventory:
          type: boolean

    ProductCategory:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        slug:
          type: string
        description:
          type: string
          nullable: true
        icon:
          type: string
          nullable: true
        section_id:
          type: integer
          nullable: true
        parent_id:
          type: integer
          nullable: true
          description: ID of parent category (for hierarchical categories)
        is_active:
          type: boolean
        display_order:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ProductSection:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        slug:
          type: string
        description:
          type: string
          nullable: true
        display_order:
          type: integer
        is_active:
          type: boolean

    # Collection Schemas
    Collection:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
          example: Valentine's Special Bouquet
        slug:
          type: string
        description:
          type: string
          nullable: true
        short_description:
          type: string
          nullable: true
        price:
          type: string
          format: decimal
          example: "5000.00"
        compare_at_price:
          type: string
          format: decimal
          nullable: true
        section_id:
          type: integer
          nullable: true
        is_active:
          type: boolean
        is_featured:
          type: boolean
        items:
          type: array
          items:
            $ref: '#/components/schemas/CollectionItem'
          description: Products included in this collection
        images:
          type: array
          items:
            $ref: '#/components/schemas/CollectionImage'
        inventory:
          $ref: '#/components/schemas/CollectionInventory'
        components_total:
          type: string
          format: decimal
          nullable: true
          description: Total price of individual components
        discount_from_components:
          type: string
          format: decimal
          nullable: true
          description: Savings when buying as collection vs individual items
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CollectionItem:
      type: object
      properties:
        id:
          type: integer
        product_id:
          type: integer
        quantity:
          type: integer
        display_order:
          type: integer
        product:
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
            price:
              type: string
              format: decimal

    CollectionImage:
      type: object
      properties:
        id:
          type: integer
        image_url:
          type: string
          format: uri
        alt_text:
          type: string
          nullable: true
        is_main:
          type: boolean

    CollectionInventory:
      type: object
      properties:
        quantity:
          type: integer
        reserved_quantity:
          type: integer
        available_quantity:
          type: integer
        is_low_stock:
          type: boolean
        is_out_of_stock:
          type: boolean

    # Cart Schemas
    CartItem:
      type: object
      required:
        - product_id
        - quantity
      properties:
        product_id:
          type: integer
        quantity:
          type: integer
          minimum: 1

    CartValidation:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              product_id:
                type: integer
              available:
                type: boolean
              quantity_available:
                type: integer
              current_price:
                type: string
                format: decimal
        subtotal:
          type: string
          format: decimal
        estimated_delivery_fee:
          type: string
          format: decimal
        all_items_available:
          type: boolean

    # Order Schemas
    OrderCreate:
      type: object
      required:
        - payment_method
        - delivery_method
        - items
      properties:
        payment_method:
          type: string
          enum: [card, cash, bank_transfer]
          description: |
            - `card` - Credit/debit card
            - `cash` - Cash on delivery
            - `bank_transfer` - Bank transfer
        delivery_method:
          type: string
          enum: [delivery, pickup]
        delivery_date:
          type: string
          format: date-time
          nullable: true
          description: Preferred delivery date/time
        delivery_time_slot:
          type: string
          nullable: true
          example: "10:00-12:00"
          description: Preferred delivery time window
        delivery_address_id:
          type: integer
          nullable: true
          description: ID of saved delivery address
        new_delivery_address:
          $ref: '#/components/schemas/AddressCreate'
          description: New delivery address (if not using saved address)
        items:
          type: array
          minItems: 1
          items:
            type: object
            properties:
              product_id:
                type: integer
                nullable: true
              collection_id:
                type: integer
                nullable: true
              quantity:
                type: integer
                minimum: 1
          description: Must include either product_id or collection_id for each item
        customer_notes:
          type: string
          nullable: true
          example: "Please ring bell twice"
        discount_amount:
          type: string
          format: decimal
          nullable: true
          default: "0.00"

    Order:
      type: object
      properties:
        id:
          type: integer
        order_number:
          type: string
          example: ORD-2024-001234
          description: Unique order reference number
        customer_id:
          type: integer
        status:
          type: string
          enum:
            - pending
            - payment_confirmed
            - processing
            - ready_for_delivery
            - out_for_delivery
            - delivered
            - cancelled
            - refunded
          description: Current order status in the fulfillment workflow
        payment_method:
          type: string
          enum: [card, cash, bank_transfer]
        payment_status:
          type: string
          enum: [pending, completed, failed, refunded]
          nullable: true
        delivery_method:
          type: string
          enum: [delivery, pickup]
        delivery_address:
          $ref: '#/components/schemas/Address'
        delivery_date:
          type: string
          format: date-time
          nullable: true
        delivery_time_slot:
          type: string
          nullable: true
        subtotal:
          type: string
          format: decimal
          example: "7500.00"
        delivery_fee:
          type: string
          format: decimal
          example: "300.00"
        discount_amount:
          type: string
          format: decimal
          example: "100.00"
        total:
          type: string
          format: decimal
          example: "7700.00"
        customer_notes:
          type: string
          nullable: true
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
          nullable: true

    OrderItem:
      type: object
      properties:
        id:
          type: integer
        product_id:
          type: integer
          nullable: true
        collection_id:
          type: integer
          nullable: true
        product_name:
          type: string
        product_sku:
          type: string
        unit_price:
          type: string
          format: decimal
        quantity:
          type: integer
        subtotal:
          type: string
          format: decimal
        created_at:
          type: string
          format: date-time

    # Address Schemas
    Address:
      type: object
      properties:
        id:
          type: integer
        full_name:
          type: string
        phone:
          type: string
        address_line1:
          type: string
        address_line2:
          type: string
          nullable: true
        city:
          type: string
        postal_code:
          type: string
        country:
          type: string
          default: "Russia"
        is_default:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    AddressCreate:
      type: object
      required:
        - full_name
        - phone
        - address_line1
        - city
      properties:
        full_name:
          type: string
          minLength: 1
          maxLength: 255
        phone:
          type: string
          minLength: 1
          maxLength: 20
        address_line1:
          type: string
          minLength: 1
          maxLength: 255
        address_line2:
          type: string
          nullable: true
          maxLength: 255
        city:
          type: string
          minLength: 1
          maxLength: 100
        postal_code:
          type: string
          minLength: 1
          maxLength: 20
        country:
          type: string
          maxLength: 100
          default: "Russia"
        is_default:
          type: boolean
          default: false

    # User Schemas
    User:
      type: object
      properties:
        id:
          type: integer
        email:
          type: string
          format: email
        full_name:
          type: string
        phone:
          type: string
        role:
          type: string
          enum: [customer, staff, admin]
        is_active:
          type: boolean
        is_verified:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    # Region Schemas
    Region:
      type: object
      properties:
        id:
          type: integer
        code:
          type: string
          example: TM
          description: Region code (2 characters, uppercase)
        name:
          type: string
          example: Turkmenistan
        timezone:
          type: string
          example: Asia/Ashgabat
          description: IANA timezone for region
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    # Error Schemas
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [false]
        error:
          type: object
          properties:
            code:
              type: string
              example: NOT_FOUND
              description: Machine-readable error code
            message:
              type: string
              example: Product not found
              description: Human-readable error message
            details:
              type: object
              nullable: true
              description: Additional error context

    ValidationError:
      type: object
      properties:
        success:
          type: boolean
          enum: [false]
        error:
          type: object
          properties:
            code:
              type: string
              enum: [VALIDATION_ERROR]
            message:
              type: string
            details:
              type: array
              items:
                type: object
                properties:
                  field:
                    type: string
                  message:
                    type: string
                  value:
                    type: string

    # Response Wrappers
    SuccessResponse_ProductResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          $ref: '#/components/schemas/ProductResponse'

    SuccessResponse_Product_Category:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          $ref: '#/components/schemas/ProductCategory'

    SuccessResponse_ProductSection:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          $ref: '#/components/schemas/ProductSection'

    SuccessResponse_Collection:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          $ref: '#/components/schemas/Collection'

    SuccessResponse_CartValidation:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          $ref: '#/components/schemas/CartValidation'

    SuccessResponse_Order:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          $ref: '#/components/schemas/Order'

    SuccessResponse_User:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          $ref: '#/components/schemas/User'

    # Pagination Schemas
    PaginationMeta:
      type: object
      properties:
        page:
          type: integer
        page_size:
          type: integer
        total:
          type: integer
        total_pages:
          type: integer

    PaginatedProductResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          type: array
          items:
            $ref: '#/components/schemas/ProductListItem'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    PaginatedCategoryResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          type: array
          items:
            $ref: '#/components/schemas/ProductCategory'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    PaginatedSectionResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          type: array
          items:
            $ref: '#/components/schemas/ProductSection'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    PaginatedCollectionResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          type: array
          items:
            $ref: '#/components/schemas/Collection'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    PaginatedOrderResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          type: array
          items:
            $ref: '#/components/schemas/Order'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    MessageResponse:
      type: object
      properties:
        message:
          type: string
          example: "Operation completed successfully"

tags:
  - name: Authentication
    description: User registration, login, and token management
  - name: Products
    description: Product catalog, search, and details
  - name: Categories
    description: Product categories and hierarchy
  - name: Sections
    description: Product sections (top-level categories)
  - name: Collections
    description: Curated product collections and bundles
  - name: Cart
    description: Shopping cart validation and pricing
  - name: Orders
    description: Order creation, tracking, and management
  - name: User Profile
    description: User account management and addresses
  - name: Regions
    description: Available regions and region settings
  - name: Search
    description: Global search functionality
