name: Build and Deploy iOS

on:
  push:
    branches:
      - main  # или ветка, куда пушишь код

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.1' # укажи свою версию

      - name: Install dependencies
        run: |
          flutter pub get
          cd ios
          pod install
          cd ..

      - name: Build iOS release
        run: flutter build ipa --release --no-codesign

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: ios-ipa
          path: build/ios/ipa/*.ipa
