name: iOS Build & Upload

on:
  push:
    branches:
      - main   # или ветка, с которой хочешь билдить

jobs:
  build-ios:
    runs-on: macos-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.1' # или твоя версия

      - name: Install dependencies
        run: flutter pub get

      - name: Build iOS
        run: |
          flutter clean
          flutter build ipa --release --export-options-plist=ios/ExportOptions.plist

      - name: Upload to App Store Connect
        uses: r0adkll/upload-artifact@v4  # временно сохраняем IPA
        with:
          name: AppIPA
          path: build/ios/ipa/*.ipa
